
.login-signup {
  display: flex;
  flex-direction: row;
  justify-content: space-left
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-bottom: 30px;
}

.grey-box {
  display: flex;
  background-color: lightgray;
  flex-direction: row;
  justify-content: space-around;
  border-color: grey;
}

.login-button {
  order: 1;
  justify-content: space-around

}

.or {
  order: 2;
  justify-content: space-around
}

.signup-button {
  order: 3;
  justify-content: space-around
}

.submit-button-form {
  display: flex;
  justify-content: center;
}

.welcome-log-in {
  display: flex;
  justify-content: center;
}

.login-fields {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 50px;
}

.topics {
  display: flex;
  flex-direction: row;
}

.charts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.loggedin-nav-btns {
  display: flex;
  flex-direction: row;
  justify-content: left
}
